<h1>All tags</h1>

<p>
  <ul>
    <% @tags.each do |tag| %>
      <li>
        <%= link_to tag.name, tag_path(tag) %>

        <% if logged_in? %>
          <%= link_to "Delete", tag_path(tag), method: :delete, data: {confirm: "Really delete the tag?"} %>
        <% end %>
      </li>
    <% end %>
  </ul>
</p>

<br>

<%= link_to 'Back to Articles', articles_path %>
